pading: 0;
margin: 0;


body {
    font-family: 'Gulzar', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.header-background {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 0px 20px,

}

.header-background img {
    width: 100%;
}

.text-header {
    width: 100%;
    position: relative;
    margin-top: -46%;
}

.text-header h1 {
    text-align: center;
    color: yellow;
    font-size: 130px;
}

.text-header p {
    text-align: center;
    color: whitesmoke;
    font-size: 45px;
    padding-top: 0px;
    padding: 60px;
    padding-right: 60px;
    margin-top: -7%;
}



.link-donation {
    position: relative;
    margin: -10%;

}

.link-donation-button {
    text-decoration: none;
    background-color: solid orangered;
    color: white;
    padding: 10px 40px;
    border-radius: 12px;
}